<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
    <style>
      table,th,td {
       border: 2px solid brown;
       border-collapse: collapse; 
      }
  
      th {
        text-align: center;   
   
      } 
      th,td {
       padding: 5px;

      } 
      div {
          padding: 5px;
      }
    </style>
</head>
<body ng-app="first_App">
            
    
            <!--First Example-->
            <div style="border:2px solid blue;">
            <h2>Binding data through a form example</h2>
            <form>
            <label for="name">Type your name here:</label>
            <input id="name" name="name" ng-model="name"><br><br>
            <label for="firstName">Type your first name here:</label> 
            <input id="name" name="name" ng-model="firstName">
            </form> 
            <p>Hello {{name + " " + firstName}}</p>    
            </div>
 
   <br><br>
            
                 <!--Second Example-->
                <div ng-controller="first_App_controller"  style="border:2px solid blue;">
                    <h2>Binding data through a form by function call example(simple calculator)</h2>
                    <form>
                    <label for="first_Number">Enter the first number here:</label>
                    <input id="first_Number" type="number" ng-model="number_1"><br><br>
                    <label for="second_Number">Enter the second number here:</label>
                    <input id="second_Number" type="number" ng-model="number_2">
                    </form>
                    <p>Addition of the numbers is: {{sum()}}</p>
                    <p>Subtraction of the numbers is: {{diff()}}</p>
                    <p>Multiplication of the numbers is: {{prod()}}</p>
                    <p>Division of the numbers is: {{div()}}</p>
                </div>
   
    
   
    <br><br>
            
            <!--Third Example-->
            <div ng-controller="second_App_controller"  style="border:2px solid blue;">
                <h2>Operating with events(ng-click,function call)</h2>
                <form>
                <label for="name">Enter your name here:</label>
                <input id="name" type="text" ng-model="name_app"><br><br>
                <label for="first_name">Enter your firstname:</label>
                <input id="first_name" type="text" ng-model="first_name_app">     
                </form>
                <button ng-click="greet()">Click here for greeting!</button>
                
                <p>Greetings: {{fullName}}</p>
            </div>



   <br><br>
            <!--Fourth Example-->
            <div ng-controller="third_App_controller"  style="border:2px solid blue;">
                <h2>Operating with events(ng-repeat,traversing bidimensional array)-making a table of clients informations</h2>
                <table>
                   <tr>
                       <th>Name</th>
                       <th>Tel</th>
                       <th>Email</th>                         
                   </tr>
                   <tr ng-repeat="client in clients">
                   <td>{{client.name}}</td>
                   <td>{{client.tel}}</td>
                   <td>{{client.email}}</td>
                   </tr>
                </table>
                </div>


                <br><br>
                <!--Fifth Example-->
                <div ng-controller="fourth_App_controller"  style="border:2px solid blue;">
                    <h2>Using simple customed filter to transform the last letter of a string to the next uppercased letter in the alphabet</h2>
                    <h3>Original list of strings</h3>
                    <ul>
                        <li ng-repeat="name in names">{{name}}</li>
                      </ul>
                      <h3>Formatted list of strings</h3>
                    <ul>
                       <li ng-repeat="name in names">{{name | highlight}}</li>
                     </ul>
                    </div>

                    <br><br>
                    <!--Sixth Example-->
                    <div ng-controller="fifth_App_controller"  style="border:2px solid blue;">
                        <h2>Using customed filter dependent on user input to search</h2>
                    
                         
                        <form>
                           <label for="searched_book">Enter book name here to search a match with our books available in store:</label>
                           <input type="text" id="searched_book" name="searched_book" ng-model="entered_Book_Name">
                         </form>
                         

                        <ul>
                            <li ng-repeat="book in books | searchBook:entered_Book_Name">
                               <h3>{{book.name}}</h3><span> by {{book.author}}</span>   
                               <p>{{book.description}}</p>
                               <img width="200px" height="200px" ng-src="{{book.image}}"> 
                            </li>
                        </ul>
                        
                        </div>





<script>

var App1 = new angular.module("first_App",[]);

App1.controller("first_App_controller",function($scope){
    $scope.number_1 = 0;
    $scope.number_2 = 0;
    
    $scope.sum = function(){

     return $scope.number_1 + $scope.number_2;

    }; 
    
    
    $scope.diff = function(){
       
    return $scope.number_1 - $scope.number_2;    
   
        
     };
     
    $scope.prod = function(){

     return $scope.number_1 * $scope.number_2;
                
    };
     
     
    $scope.div = function(){

    return $scope.number_1 / $scope.number_2;

    };

});

App1.controller("second_App_controller",function($scope){

$scope.name_app = "Doe";
$scope.first_name_app = "John";
$scope.greet = function(){
    $scope.fullName = $scope.first_name_app + " " + $scope.name_app;      

}
});

App1.controller("third_App_controller",function($scope){

$scope.clients =[

{"name":"John","tel":"012 965 854","email":"John@gmail.com"},
{"name":"Robert","tel":"012 125 236","email":"Robert@gmail.com"},
{"name":"Thomas","tel":"012 145 256","email":"Thomas@gmail.com"},
{"name":"Richard","tel":"012 478 589","email":"Richard@gmail.com"}

];

});


App1.controller("fourth_App_controller",function($scope){

$scope.names = ["aaaa","bbbb","cccc","dddd"];

});

App1.filter("highlight",function(){

    function replacement(letter){
 
         var ASCII_code = letter.charCodeAt(0);
         ASCII_code = ASCII_code + 1; 
         var replacement_Letter = String.fromCharCode(ASCII_code);
         letter = letter.replace(letter,replacement_Letter); 
         letter = letter.toUpperCase();
         return letter;
    }



return function(x){
    var txt="";
    var output;
    var c;
    
    for( i=0; i < x.length; i++){
         c = x[i];
       
         if(  i === x.length-1 ){
        
            txt += replacement(c);
        
        }else{         
            txt += c;         
        }
                
    }

    return txt;

}

});

App1.controller("fifth_App_controller",function($scope){

                $scope.books = [

                {
                name:"The Dream-Quest of Unknown Kadath",
                author:"H. P. Lovecraft",
                description:"The Dream-Quest of Unknown Kadath is a novella by American writer H. P. Lovecraft. Begun probably in the autumn of 1926, the draft was completed on January 22, 1927 and it remained unrevised and unpublished in his lifetime. It is both the longest of the stories that make up his Dream Cycle and the longest Lovecraft work to feature protagonist Randolph Carter. Along with his 1927 novel The Case of Charles Dexter Ward, it can be considered one of the significant achievements of that period of Lovecraft's writing. The Dream-Quest combines elements of horror and fantasy into an epic tale that illustrates the scope and wonder of humankind's ability to dream. ",
                image:"books_images/The Dream-Quest of Unknown Kadath.jpg"
                },

                {
                name:"2001: A Space Odyssey",
                author:"Arthur C. Clarke.",
                description:"2001: A Space Odyssey is a 1968 science fiction novel by British writer Arthur C. Clarke. It was developed concurrently with Stanley Kubrick's film version and published after the release of the film. Clarke and Kubrick worked on the book together, but eventually only Clarke ended up as the official author. The story is based in part on various short stories by Clarke, including \"The Sentinel\" (written in 1948 for a BBC competition, but first published in 1951 under the title \"Sentinel of Eternity\"). By 1992, the novel had sold three million copies worldwide.[1] An elaboration of Clarke and Kubrick's collaborative work on this project was made in the 1972 book The Lost Worlds of 2001. ",
                image:"books_images/2001_A_Space_Odyssey-Arthur_C._Clarke.jpg"
                },

                {
                name:"The Andromeda Strain",
                author:"Michael Crichton",
                description:"The Andromeda Strain is a 1969 techno-thriller novel by Michael Crichton, his first novel under his own name and his sixth novel overall. It is written as a report documenting the efforts of a team of scientists investigating the outbreak of a deadly extraterrestrial microorganism in Arizona. The Andromeda Strain appeared in the New York Times Best Seller list, establishing Michael Crichton as a genre writer. ",
                image:"books_images/Big-andromedastrain.jpg"
                },

                {
                name:"Do Androids Dream of Electric Sheep?",
                author:"Philip K. Dick",
                description:"Do Androids Dream of Electric Sheep? (retitled Blade Runner: Do Androids Dream of Electric Sheep? in some later printings) is a dystopian science fiction novel by American writer Philip K. Dick, first published in 1968. The novel is set in a post-apocalyptic San Francisco, where Earth's life has been greatly damaged by a nuclear global war, leaving most animal species endangered or extinct. The main plot follows Rick Deckard, a bounty hunter who is tasked with \"retiring\" (i.e. killing) six escaped Nexus-6 model androids, while a secondary plot follows John Isidore, a man of sub-par IQ who aids the fugitive androids.The book served as the primary basis for the 1982 film Blade Runner and many elements and themes from it were used in the film's 2017 sequel Blade Runner 2049. ",
                image:"books_images/DoAndroidsDream.png"
                },

                ];

});

App1.filter("searchBook",function(){

return function(book,entered_Book_Name){
  
      if(!entered_Book_Name){
          return book;
      }
       
       result = [];
       entered_Book_Name = entered_Book_Name.toLowerCase();
        
       angular.forEach(book,function(searchedBook) {
           if(searchedBook.name.toLowerCase().indexOf(entered_Book_Name)  !== -1 ){
            result.push(searchedBook);  
           }
       });
       
    return result;
}

});

</script>
</body>
</html>